.taskList {
    text-align: center;
    align-content: center;
    margin: 12% auto;
    width: 40%;
}
.btn {
    padding: 0px 50px;
    width: 200px;
    margin: auto;
}
.cgray {
    text-align: center;
    color: gray;
}
.taskId{
    display: none;
}